{% extends 'LayoutA.html'%} {% block body %}
<form action="/update/{{producto.0}}" method="POST">

    <input type="text" name="Codigo" placeholder="Codigo" value="{{producto.1}}">
    <input type="text" name="Nombre" placeholder="Nombre" value="{{producto.2}}">
    <input type="text" name="Descripcion" placeholder="Descripcion" value="{{producto.3}}">
    <input type="text" name="Departamento" placeholder="Departamento" value="{{producto.4}}">
    <input type="text" name="Seccion" placeholder="Seccion" value="{{producto.5}}">
    <input type="text" name="Stock" placeholder="Stock" value="{{producto.6}}">
    <input type="text" name="PrecioVenta" placeholder="PrecioVenta" value="{{producto.7}}">
    <input type="text" name="PrecioCompra" placeholder="PrecioCompra" value="{{producto.8}}">
    <button type="submit">
        Guardar
    </button>

</form>

{% endblock %}